.orderItemContainer {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  margin-top: 20px;
  text-decoration: none;
}
.orderImgContainer {
  overflow: hidden;
  text-align: center;
}
// .orderImg{
//     // max-width: 80px;
//     // max-height: 80px;
// }
.orderRow {
  display: flex;
  flex: 1;
  color: white;
}
.orderName {
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 12px;
}
.orderPrice {
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.order-fond {
  font-size: 17px;
}
.orderImg {
  height: 150px;
}
.cart_container {
  margin-top: 30px;
  box-shadow: 3px 2px 5px 5px #ffffff;
  background: linear-gradient(
    90deg,
    rgba(235, 235, 234, 0.2) 0%,
    rgba(14, 14, 103, 0.4) 0%,
    rgba(48, 47, 37, 0.3) 100%,
    rgba(47, 165, 247, 0.3) 100%,
    rgba(200, 219, 232, 0.3) 100%
  );
}
.error{
    color: red;
    text-align: center;
    margin-top: 60px;
    font-size: 29px;
}
.all_orders_wraper{
  max-width:80%;
  margin: 5px auto
}
@media (max-width: 1000px) {
  .all_orders_wraper{
    max-width: 95%;
  }
  .orderPrice{
      padding: 0 5px;
  }
  .orderName{
    padding: 0 5px;
  }
  .orderItemContainer{
    padding: 10px 2px;
  }
}
