.caContainer{
    width: 20%;
    
    background-color: rgba($color: #181414, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    color: white;
    height: 350px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 5px 4px 14px 7px #ffffff;
}
.caImgContainer{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.caImgContainer > img{
    max-width: 100%;
    max-height: 300px;
}
.caProductName{
    font-size: 17px;
    padding: 10px 0;
    text-align: center;
    word-wrap: break-word;
}
.caProductPrice{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.card_header_clout{
    display: flex;
}

.product_dont_found_cat{
    color: red;
    font-size: 30px;
}
.clout_wraper{
    display: flex;
    box-shadow: 5px 8px 15px 11px #000000;
    flex-wrap: wrap;
    justify-content: space-around;
}